.menuNavBackground{
    background: #0a2b30;
}
.menuNavLink{
    text-decoration: none;
    color: #fff;
    padding: 35px 20px 30px 20px;

}
.menuNavLink:hover{
    color: #ef8354;
}
.menuNavDropdown{
    text-decoration: none;
    padding:14px;
    margin-top:13px;
    background:#0a2b30;
    color: #fff;
}
/* .navbarLinkDropdown{
    background: #0a2b30;
    text-decoration: none;
    color: #fff;
    padding:14px;
    margin-top:13px;
} */

.menuNavDropdown:hover{
    background-color: #ef8354;
    color: #fff;
}
/* .navbarLinkDropdown:hover{
    background-color: #ef8354;
    color: #fff;
} */
.dropdown-menu.show{
    background-color: #0a2b30;
    color: #fff;
}
#basic-nav-dropdown{
    color: #fff;
}


.menuNavLogo {
    width: 90px;
    height: 90px; 
}

.fontSaludo {
    font-family: 'Parisienne', cursive;
    font-size: 50px; 
    color: #ef8354;
}

.cartNav{
    color: white;
    margin: 35px 30px 0px 50px;
    font-size:25px
}
.cartNav:hover{
    color: #ef8354;
}

/* .contadorDiv{
    margin: 100px 0px 0px 100px;
} */

.imgCart{
    width: 100px;
    height: 100px;
    border-radius: 3px;
}

.marginCartItem{
    margin: 10px 25px 0px 25px;
}
.marl50p{
    margin: 10px 0px 0px 1300px;
}