.imgCardProds{
    height: 350px;
    width: 400px;
    border-radius: 4px;
}
.cardItemDos-button{
    background: #0a2b30;
}
.cardItemDos-button:hover{  
    background: #ef8354;
    color: black;
}
.cardItemDos-buttonHref{
    text-decoration: none;
    color: white;
}
.cardItemDos-buttonHref:hover{
    color: black;
}
.margin-top{
    margin-top: 300px;
    color: gray;
}